{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
      <div class="card-body rounded-pill">
        <!-- Add your logo image above the login form -->
        <div class="text-center mb-4">
          <img src="{% static 'img/catlogo.png' %}" alt="Logo" class="logo-img" style="width: 200px; height: auto;">
        </div>
        <!-- Bring "Login to your account" to the center -->
        <div class="card-title py-3 text-center">
          <h4>Login to your account</h4>
        </div>
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}

          {% include 'partials/_messages.html' %}
          <div class="form-group">
            <input
              type="text"
              name="username"
              placeholder="username"
              id="usernameField"
              value="{{fieldValues.username}}"
              class="form-control form-control-sm "
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control form-control-sm"
              id="passwordField"
            />
          </div>
          <input type="submit" value="Login" class="btn btn-block btn-primary submit-btn rounded-pill" />
        </form>
        <a href="{% url 'register' %}" class="btn btn-block btn-primary submit-btn rounded-pill">Create an Account</a>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock content %}
